body 
{ 
	background-color: #ccc; 
}

label /* */
{
	display: block;
	margin: 15px 0 0 30%;
}

input[type=text]
{
	border-radius: 3px;
	border: 1px solid #333;
}

#ag{ width: 200px; margin: 0 0 0 -5%; } /* fieldset agendar */

#cp{ width: 500px; margin: 0 0 0 30%; } /* fieldset principal */

#hr{width: 50px; margin-right: 5px; border-radius: 3px; border: 1px solid #333; }

#hr_dispo{ margin: 15px 0 0 0px;}
